<footer class="footer bg-base-200/60 flex flex-col items-center gap-4 p-6" x-data>
  <div class="flex items-center gap-2 text-xl font-bold">
    <span class="icon-[tabler--track] size-8 text-primary"></span>
    <span>Track Record</span>
  </div>
  <aside>
    <p>© <span x-text="new Date().getFullYear()"></span> Track Record</p>
  </aside>
  <nav class="text-base-content grid-flow-col gap-4">
    <a class="link link-hover" href="#">License</a>
    <a class="link link-hover" href="#">Help</a>
    <a class="link link-hover" href="#">Contact</a>
    <a class="link link-hover" href="#">Policy</a>
  </nav>
  <div class="flex h-5 gap-4">
    <a href="#" class="link" aria-label="Github Link">
      <span class="icon-[tabler--brand-github] size-5"></span>
    </a>
    <a href="#" class="link" aria-label="Facebook Link">
      <span class="icon-[tabler--brand-facebook] size-5"></span>
    </a>
    <a href="#" class="link" aria-label="X Link">
      <span class="icon-[tabler--brand-x] size-5"></span>
    </a>
    <a href="#" class="link" aria-label="Google Link">
      <span class="icon-[tabler--brand-google] size-5"></span>
    </a>
  </div>

  {# <button type="button" class="btn btn-primary" data-overlay="#semantic-colors-modal">
    View Semantic Colors
  </button>

  <div id="semantic-colors-modal" class="overlay modal modal-middle overlay-open:opacity-100 overlay-open:duration-300 hidden" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered overlay-open:opacity-100 overlay-open:duration-300">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Semantic Colors</h3>
          <button type="button" class="btn btn-text btn-circle btn-sm absolute end-3 top-3" aria-label="Close" data-overlay="#semantic-colors-modal">
            <span class="icon-[tabler--x] size-4"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="grid grid-cols-4 gap-x-5 gap-y-4">
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-primary rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">primary</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-secondary rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">secondary</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-accent rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">accent</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-neutral rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">neutral</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-base-100 border-base-content/20 rounded-box size-12 border"></div>
              <p class="text-base-content/80 text-xs">base 100</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-base-200 rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">base 200</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-base-300 rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">base 300</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-base-content rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">content</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-info rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">info</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-success rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">success</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-warning rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">warning</p>
            </div>
            <div class="flex flex-col items-center space-y-1">
              <div class="bg-error rounded-box size-12"></div>
              <p class="text-base-content/80 text-xs">error</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-soft btn-secondary" data-overlay="#semantic-colors-modal">Close</button>
        </div>
      </div>
    </div>
  </div> #}
</footer>